*{
    margin:0;
    padding: 0;
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
.top-title{
    margin-top: 20px;
}
.top-player, .courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.blog{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.thumnail{
    display:flex;
    margin-top: 20px;
}
.player{
    display:flex;
    align-items: center;
    margin-top: 20px;
}
.player img{
    width: 50px;
    height: 50px;
}
.thumnail img{
    width: 100px;
    height: 100px;
}
h3 {
    margin-left: 10px;
}
.player h2{
    margin-left: 10px;
}
.course-details{
    padding-top: 10px
}

.course img{
    width:200px;
    height:100px;
}
.course-info{
    display:flex;
}
.duration{
    margin-left: 20px;
}
.filled{
    color: goldenrod;
}
.unfilled{
    color:gray;
}
@media (max-width : 992px) {
    .top-player{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width : 668px) {
    .top-player{
        grid-template-columns: repeat(1, 1fr);
    }
}